.comments-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.comment {
    padding: 10px;
    margin-bottom: 8px;
    background-color: #f9f9f9;
    border-radius: 6px;
}

.comment-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.comment-header strong {
    font-size: 14px;
    color: #444;
}

.comment-header small {
    color: #666;
}

.comment p {
    margin: 0;
}
