@import url(chat_area.css);


*{
    box-sizing: border-box;
    background-repeat: no-repeat;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}