@import url("left_aside.css");
@import url("right_aside.css");
@import url("users.css");
@import url("chat.css");

* {
    box-sizing: border-box;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vmin;
    position: relative;
}

.header {
    /* grid-area: header; */
    width: 100%;
    padding: 25px 50px;
    border: #888;
    color: #222;
}

.left {
    /* grid-area: left; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.main {
    /* grid-area: main; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
} 

.postForm {
    margin: 15px 0;
    border-radius: 5px;
    border: 1px solid #ddd;
    padding: 5px;
    width: 80%;
}

#posts_form {
    width: 100%;
    height: 100%;
}

#posts_form input {
    width: 90%;
    height: 3vh;
    border: 1px solid #ddd;
}

#posts_form textarea {
    margin: 0;
    padding: .2em;
    width: 90%;
    height: fit-content;
    resize: none;
    border: 1px solid #ddd;
}

.categories-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.categories-container .categories-options {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;
}

.categories-container .categories-options .category-label {
    width: 20%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    gap: 5px;
}

.categories-container .categories-options input {
    border: 1px solid #ddd;

}

.posts {
    margin: 15px 0;
    width: 80%;
}

.right {
    grid-area: right;
}


header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 28px;
    text-decoration: none;
    color: #fff;
    font-weight: 800;
    letter-spacing: 3px;
}

.logout {
    text-decoration: none;
    color: #222;
    background-color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 19px;
    transition: .3s;
    border: none;
    outline: none;
    cursor: pointer;
}

.logout:hover {
    background-color: #555;
    color: #fff;
}

.post-item {
    margin: 15px 0;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;

    h4 {
        margin: 0 0 5px 0;
        color: #666;
    }

    h3 {
        margin: 0 0 10px 0;
    }

    p {
        margin: 0 0 15px 0;
        width: 90%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        flex-wrap: wrap;
    }

    small {
        display: block;
        color: #888;
        font-size: 12px;
        margin-bottom: "10px";
    }

    button {
        padding: 10px;
        background-color: #f0f0f0;
        border: 1px solid #ccc;
        border-radius: 3px;
        cursor: pointer;
        margin-top: 10px;
    }
}



@media (max-width: 687px) {
    body {
        grid-template-rows: auto auto auto auto;
        grid-template-columns: 1fr;
        grid-template-areas:
            "header"
            "left"
            "right"
            "main";
    }
}